<div class="text-selection-off">
  <div style="text-align:center;">
    <img src="assets/Request Access.png" style="width:100%;" alt="">
  </div>
  <div style="text-align:center;">
    <img src="assets/Request Success.png" alt="" srcset="">
  </div>
  <div style="text-align:center;">
    <h1 style="color:#FF0042;margin-bottom:0px;margin-top: 10px;">Thank you</h1>
    <h1 style="color:#FF0042;margin-top:0px;">We'll get back to you soon.</h1>
  </div>
  <div style="text-align:center;margin-top:2%;">
    <p style="color:#9DA4A7;">Please check your email.</p>
  </div>
</div>