<div class="loadingDiv" *ngIf="loadingDiv">
  <img src="assets/loader.gif" style="position: absolute;left: 48%;top: 40%;height: 75px;" alt="">
</div>
<div class="text-selection-off">
  <div style="text-align:center;">
    <img src="assets/Request Access.png" style="width:100%;" alt="">
  </div>
  <div style="text-align:center;">
    <img src="assets/Request Success.png" alt="" srcset="">
  </div>
  <div style="text-align:center;">
    <h1 style="color:#FF0042;margin-bottom:0px;margin-top: 10px;">Real Estate Investing Information</h1>
    <h1 style="color:#FF0042;margin-top:0px;">That Matters to You.</h1>
  </div>
  <div style="text-align:center;">
    <p style="color:#9DA4A7;">Limited to the San Francisco Bay'Area--Join our BETA!</p>
  </div>
  <div style="text-align:center;">
    <a class="btn outline btn-danger-outline" style="line-height: 25px;border-radius: .1rem;height: 40px;font-weight: bold;"
      (click)="signUpLinkedin()">SIGN UP WITH LINKEDIN</a>
  </div>
  <div style="text-align:center;margin-top:10px;" class="text-selection-off">
    <a class="" style="color:#9DA4A7;height: 40px;font-weight: bold;font-size: small;font-weight: bold;">SIGN IN</a>
  </div>
</div>